$light-brown: #b9a586;
$brown: #89705e;
$dark-brown: #645857;
$black: #363639;
$broken-white: #eeebe3;

body {
  margin: 0;
  color: $broken-white;
}

p {
  font-family: "Katibeh", cursive;
  margin: 0;
}

h5,
h4,
h3,
h2,
h1 {
  font-family: "Cookie", cursive;
}

.talia-portfolio-app {
  min-height: 100vh;
  width: 100%;
  background-color: $light-brown;
  .logo-container img {
    height: 80px !important;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  .MobileNav_MoNavLogo__C8_0h img {
    border-radius: 50%;
  }
  .styles_navLinks__38tON a {
    color: $broken-white;
  }
  .carousel {
    img {
      object-fit: cover;
      height: 100vh;
    }
  }
}
