body {
    margin: 0; 
}

p {
    font-family: 'Katibeh', cursive;
}

h5, h4, h3, h2, h1 {
    font-family: 'Cookie', cursive;
}

.talia-portfolio-app {
    .title-text {
        font-family: 'Sacramento', cursive;
    }
}